<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <h1 class="main-title">{{ site.title | escape }}</h1>
      <span class="sub-title">{{ site.subtitle | escape }}</span>
    </a>

    {%- if page_paths -%}
    <nav class="site-nav">
      <ul role="navigation">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li>
            {%- if my_page.path == page.path -%}
              {%- assign is_current = "current-page" -%}
            {%- else -%}
              {%- assign is_current = "" -%}
            {%- endif -%}
            <a role="button" class="page-link {{ is_current }}" href="{{ my_page.url | relative_url }}">
              <p>{{ my_page.title | escape }}</p>
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </nav>
    {%- endif -%}
  </div>
</header>

